.button {
    padding: 18px 20px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .button_main {
    background-color: var(--black-text);
    color: var(--white-text);
  }
  
  .button_secondary {
    background-color: var(--white-text);
    border: 1px solid var(--black-text);
    color: var(--black-text);
  }
  
  .button_main_screen {
    background-color: var(--white-text);
    color: var(--black-text);
  }
  
  .button_icon {
    background-color: var(--white-text);
    color: var(--black-text);
  }
  
  .text {
    display: block;
    position: relative;
    font-family: var(--ff-paragraph);
    font-size: var(--fz-p2);
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    width: 126px;
    border-bottom: none;
  }
  
  .text::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 0;
    width: 0;
    border-bottom: 1px solid var(--white-text); 
    transition: width 0.3s ease-in-out;
  }
  
  .button_main:hover .text::after {
    width: 100%;
    border-bottom-color: var(--white-text);
  }

  .button_main_screen:hover .text::after {
    width: 100%;
    border-bottom-color: var(--black-text);
  }
  
  .button_secondary:hover .text::after {
    width: 100%;
    border-bottom-color: var(--black-text);
  }
  
  .button_icon:hover .text::after {
    width: 100%;
    border-bottom-color: var(--black-text);
  }
  
  .button:hover {
    cursor: pointer;
  }
  